version: 2

defaults: &defaults
  working_directory: ~/repo
  environment:
    LC_ALL: C.UTF-8

install_hex_rebar: &install_hex_rebar
  run:
    name: Install hex and rebar
    command: |
      mix local.hex --force
      mix local.rebar --force

jobs:
  build_elixir_1_13_otp_24:
    docker:
      - image: hexpm/elixir:1.13.4-erlang-24.3.3-alpine-3.15.3
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - run: mix deps.get
      - run: mix test
      - run: mix archive.build
      - run: mix archive.install
      - run: mix credo -a

  build_elixir_1_12_otp_24:
    docker:
      - image: hexpm/elixir:1.12.3-erlang-24.1.5-alpine-3.14.2
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - run: mix deps.get
      - run: mix test
      - run: mix archive.build
      - run: mix archive.install
      - run: mix format --check-formatted
      - run: mix docs
      - run: mix hex.build

  build_elixir_1_11_otp_23:
    docker:
      - image: hexpm/elixir:1.11.4-erlang-23.3.4-alpine-3.13.3
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - run: mix deps.get
      - run: mix test
      - run: mix archive.build
      - run: mix archive.install

workflows:
  version: 2
  build_test:
    jobs:
      - build_elixir_1_13_otp_24
      - build_elixir_1_12_otp_24
      - build_elixir_1_11_otp_23
